In [75]:
import sqlite3

In [76]:
def print_table(file_name, TABLE_NAME):
    connection = sqlite3.connect(f'{file_name}')
    cursor = connection.cursor()
    sql = f'select * from {TABLE_NAME}'
    cursor.execute(sql)
    for row in cursor:
        print(row)
    connection.close()

# Connect to the table


When you connect, if file .db not in your folder, it will be create a new file.

In [77]:
connection = sqlite3.connect('example.db')
print("Connection established ...")

# Createing a cursor object using the cursor() method
cursor = connection.cursor()

connection.close()

Connection established ...

# Create a table

In [78]:
connection = sqlite3.connect('example.db')

cursor = connection.cursor()


# Doping EMPLOYEE table of already exists.
cursor.execute('DROP TABLE IF EXISTS EMPLOYEES')

# Creating table as per requirement
sql = '''
    CREATE TABLE EMPLOYEES(
        ID INTERGER,
        FIRST_NAME CHAR(20) NOT NULL,
        LAST_NAME CHAR(20),
        AGE INT,
        GENDER CHAR(1),
        INCOME FLOAT,
        CONTACT INTERGER
    )
'''
cursor.execute(sql)
print("TABLE create successfully........")

# Commit your changes in the database
connection.commit()

cursor.close()

TABLE create successfully........

In [79]:
print_table(file_name='example.db', TABLE_NAME='EMPLOYEES')

# Insert Data

In [80]:
import random
import string

# Function to generate random name
def generate_name():
    first_name = ''.join(random.choices(string.ascii_uppercase, k=random.randint(4, 10)))
    last_name = ''.join(random.choices(string.ascii_uppercase, k=random.randint(4, 10)))
    return first_name, last_name

# Function to generate random age
def generate_age():
    return random.randint(20, 60)

# Function to generate random sex
def generate_sex():
    return random.choice(['M', 'F'])

# Function to generate random income
def generate_income():
    return random.randint(30000, 100000)

# Connect to SQLite database
connection = sqlite3.connect('example.db')
cursor = connection.cursor()

# Generate and execute SQL script to insert random people
sql = ""
for i in range(20):
    id = i+1
    first_name, last_name = generate_name()
    age = generate_age()
    sex = generate_sex()
    income = generate_income()
    sql += f"INSERT INTO EMPLOYEES(ID, FIRST_NAME, LAST_NAME, AGE, GENDER, INCOME) VALUES ('{id}', '{first_name}', '{last_name}', {age}, '{sex}', {income});\n"

cursor.executescript(sql)

connection.commit()
connection.close()

In [81]:
print_table(file_name='example.db', TABLE_NAME='EMPLOYEES')

(1, 'SNTXAZN', 'QEWWDPG', 56, 'F', 99863.0, None)
(2, 'ZENQ', 'QPCKIT', 28, 'M', 47627.0, None)
(3, 'CGIENHS', 'IJBEHYICU', 42, 'M', 80972.0, None)
(4, 'ZINTRU', 'FQWPHZLPRO', 35, 'M', 60630.0, None)
(5, 'GDWEGFU', 'CRLQXY', 60, 'M', 52775.0, None)
(6, 'NHAPAKOA', 'UPKFGVWGC', 35, 'M', 41829.0, None)
(7, 'XMKOKAAO', 'DFXDVH', 39, 'M', 30156.0, None)
(8, 'UDDE', 'AMSSVMR', 46, 'F', 48906.0, None)
(9, 'GIBE', 'KFCVR', 59, 'M', 32781.0, None)
(10, 'GAPGKJPPZP', 'CBPYIR', 56, 'M', 39760.0, None)
(11, 'MKCPS', 'QDEGVGWY', 50, 'M', 64173.0, None)
(12, 'BRPZHBMGI', 'ZWUQDITODS', 36, 'M', 35501.0, None)
(13, 'ZPURB', 'RYNXPNEWV', 22, 'M', 41897.0, None)
(14, 'KFCURYB', 'YMPARHN', 34, 'M', 50755.0, None)
(15, 'HQNSDZS', 'KDPSVQCFXT', 35, 'F', 42366.0, None)
(16, 'UEBQ', 'SMOHY', 54, 'F', 42614.0, None)
(17, 'LSIDYNSVFS', 'NEGJWVFMY', 36, 'F', 58184.0, None)
(18, 'NXEKRBSVLX', 'LISJNSOJDS', 51, 'F', 72167.0, None)
(19, 'IKXLM', 'BSYZ', 25, 'M', 52676.0, None)
(20, 'GTHWK', 'JOXWTTHX', 24, 'M', 90411.0, None)

# Select Data

In [82]:
# Connecting to sqlite
connection = sqlite3.connect('example.db')

cursor = connection.cursor()

# Retrieving data
cursor.execute('''
    SELECT * from EMPLOYEES
''')

# Fetching 1st row from the table
result = cursor.fetchone()
print('fetchone method')
print(result)

# Fetching 1st row from the table
result = cursor.fetchall()
print('fetchall method')
print(result)

connection.commit()
connection.close()

fetchone method
(1, 'SNTXAZN', 'QEWWDPG', 56, 'F', 99863.0, None)
fetchall method
[(2, 'ZENQ', 'QPCKIT', 28, 'M', 47627.0, None), (3, 'CGIENHS', 'IJBEHYICU', 42, 'M', 80972.0, None), (4, 'ZINTRU', 'FQWPHZLPRO', 35, 'M', 60630.0, None), (5, 'GDWEGFU', 'CRLQXY', 60, 'M', 52775.0, None), (6, 'NHAPAKOA', 'UPKFGVWGC', 35, 'M', 41829.0, None), (7, 'XMKOKAAO', 'DFXDVH', 39, 'M', 30156.0, None), (8, 'UDDE', 'AMSSVMR', 46, 'F', 48906.0, None), (9, 'GIBE', 'KFCVR', 59, 'M', 32781.0, None), (10, 'GAPGKJPPZP', 'CBPYIR', 56, 'M', 39760.0, None), (11, 'MKCPS', 'QDEGVGWY', 50, 'M', 64173.0, None), (12, 'BRPZHBMGI', 'ZWUQDITODS', 36, 'M', 35501.0, None), (13, 'ZPURB', 'RYNXPNEWV', 22, 'M', 41897.0, None), (14, 'KFCURYB', 'YMPARHN', 34, 'M', 50755.0, None), (15, 'HQNSDZS', 'KDPSVQCFXT', 35, 'F', 42366.0, None), (16, 'UEBQ', 'SMOHY', 54, 'F', 42614.0, None), (17, 'LSIDYNSVFS', 'NEGJWVFMY', 36, 'F', 58184.0, None), (18, 'NXEKRBSVLX', 'LISJNSOJDS', 51, 'F', 72167.0, None), (19, 'IKXLM', 'BSYZ', 25, 'M', 52676.0, None), (20, 'GTHWK', 'JOXWTTHX', 24, 'M', 90411.0, None)]

# Where Clause

In [83]:
connection = sqlite3.connect('example.db')
cursor = connection.cursor()

# Retrieving specific records using the where clause
cursor.execute('SELECT * from EMPLOYEES WHERE AGE < 23')

for row in cursor:
    print(row)

connection.commit()
connection.close()

(13, 'ZPURB', 'RYNXPNEWV', 22, 'M', 41897.0, None)

# ORDER BY

In [84]:
connection = sqlite3.connect('example.db')
cursor = connection.cursor()

sql = '''
    SELECT * from EMPLOYEES ORDER BY AGE
'''

cursor.execute(sql)

for row in cursor:
    print(row)

connection.commit()
connection.close()

(13, 'ZPURB', 'RYNXPNEWV', 22, 'M', 41897.0, None)
(20, 'GTHWK', 'JOXWTTHX', 24, 'M', 90411.0, None)
(19, 'IKXLM', 'BSYZ', 25, 'M', 52676.0, None)
(2, 'ZENQ', 'QPCKIT', 28, 'M', 47627.0, None)
(14, 'KFCURYB', 'YMPARHN', 34, 'M', 50755.0, None)
(4, 'ZINTRU', 'FQWPHZLPRO', 35, 'M', 60630.0, None)
(6, 'NHAPAKOA', 'UPKFGVWGC', 35, 'M', 41829.0, None)
(15, 'HQNSDZS', 'KDPSVQCFXT', 35, 'F', 42366.0, None)
(12, 'BRPZHBMGI', 'ZWUQDITODS', 36, 'M', 35501.0, None)
(17, 'LSIDYNSVFS', 'NEGJWVFMY', 36, 'F', 58184.0, None)
(7, 'XMKOKAAO', 'DFXDVH', 39, 'M', 30156.0, None)
(3, 'CGIENHS', 'IJBEHYICU', 42, 'M', 80972.0, None)
(8, 'UDDE', 'AMSSVMR', 46, 'F', 48906.0, None)
(11, 'MKCPS', 'QDEGVGWY', 50, 'M', 64173.0, None)
(18, 'NXEKRBSVLX', 'LISJNSOJDS', 51, 'F', 72167.0, None)
(16, 'UEBQ', 'SMOHY', 54, 'F', 42614.0, None)
(1, 'SNTXAZN', 'QEWWDPG', 56, 'F', 99863.0, None)
(10, 'GAPGKJPPZP', 'CBPYIR', 56, 'M', 39760.0, None)
(9, 'GIBE', 'KFCVR', 59, 'M', 32781.0, None)
(5, 'GDWEGFU', 'CRLQXY', 60, 'M', 52775.0, None)

# Update Table

In [85]:
connection = sqlite3.connect('example.db')
cursor = connection.cursor()

sql = '''
    UPDATE EMPLOYEES SET AGE=18 WHERE GENDER = "M"
'''
cursor.execute(sql)

connection.commit()
connection.close()

In [86]:
print_table(file_name='example.db', TABLE_NAME='EMPLOYEES')

(1, 'SNTXAZN', 'QEWWDPG', 56, 'F', 99863.0, None)
(2, 'ZENQ', 'QPCKIT', 18, 'M', 47627.0, None)
(3, 'CGIENHS', 'IJBEHYICU', 18, 'M', 80972.0, None)
(4, 'ZINTRU', 'FQWPHZLPRO', 18, 'M', 60630.0, None)
(5, 'GDWEGFU', 'CRLQXY', 18, 'M', 52775.0, None)
(6, 'NHAPAKOA', 'UPKFGVWGC', 18, 'M', 41829.0, None)
(7, 'XMKOKAAO', 'DFXDVH', 18, 'M', 30156.0, None)
(8, 'UDDE', 'AMSSVMR', 46, 'F', 48906.0, None)
(9, 'GIBE', 'KFCVR', 18, 'M', 32781.0, None)
(10, 'GAPGKJPPZP', 'CBPYIR', 18, 'M', 39760.0, None)
(11, 'MKCPS', 'QDEGVGWY', 18, 'M', 64173.0, None)
(12, 'BRPZHBMGI', 'ZWUQDITODS', 18, 'M', 35501.0, None)
(13, 'ZPURB', 'RYNXPNEWV', 18, 'M', 41897.0, None)
(14, 'KFCURYB', 'YMPARHN', 18, 'M', 50755.0, None)
(15, 'HQNSDZS', 'KDPSVQCFXT', 35, 'F', 42366.0, None)
(16, 'UEBQ', 'SMOHY', 54, 'F', 42614.0, None)
(17, 'LSIDYNSVFS', 'NEGJWVFMY', 36, 'F', 58184.0, None)
(18, 'NXEKRBSVLX', 'LISJNSOJDS', 51, 'F', 72167.0, None)
(19, 'IKXLM', 'BSYZ', 18, 'M', 52676.0, None)
(20, 'GTHWK', 'JOXWTTHX', 18, 'M', 90411.0, None)

# Delete Data

In [87]:
connection = sqlite3.connect('example.db')
cursor = connection.cursor()

sql = '''
    DELETE FROM EMPLOYEES WHERE AGE > 25
'''
cursor.execute(sql)

connection.commit()
connection.close()

In [88]:
print_table(file_name='example.db', TABLE_NAME='EMPLOYEES')

(2, 'ZENQ', 'QPCKIT', 18, 'M', 47627.0, None)
(3, 'CGIENHS', 'IJBEHYICU', 18, 'M', 80972.0, None)
(4, 'ZINTRU', 'FQWPHZLPRO', 18, 'M', 60630.0, None)
(5, 'GDWEGFU', 'CRLQXY', 18, 'M', 52775.0, None)
(6, 'NHAPAKOA', 'UPKFGVWGC', 18, 'M', 41829.0, None)
(7, 'XMKOKAAO', 'DFXDVH', 18, 'M', 30156.0, None)
(9, 'GIBE', 'KFCVR', 18, 'M', 32781.0, None)
(10, 'GAPGKJPPZP', 'CBPYIR', 18, 'M', 39760.0, None)
(11, 'MKCPS', 'QDEGVGWY', 18, 'M', 64173.0, None)
(12, 'BRPZHBMGI', 'ZWUQDITODS', 18, 'M', 35501.0, None)
(13, 'ZPURB', 'RYNXPNEWV', 18, 'M', 41897.0, None)
(14, 'KFCURYB', 'YMPARHN', 18, 'M', 50755.0, None)
(19, 'IKXLM', 'BSYZ', 18, 'M', 52676.0, None)
(20, 'GTHWK', 'JOXWTTHX', 18, 'M', 90411.0, None)

# Drop Table

In [89]:
# connection = sqlite3.connect('example.db')
# cursor = connection.cursor()

# sql = '''
#     DROP TABLE EMPLOYEES
# '''
# cursor.execute(sql)
# print('Table dropped...')


# # Creating table as per requirement
# sql = '''
#     CREATE TABLE EMPLOYEES(
#         FIRST_NAME CHAR(20) NOT NULL,
#         LAST_NAME CHAR(20),
#         AGE INT,
#         GENDER CHAR(1),
#         INCOME FLOAT
#     )
# '''
# cursor.execute(sql)

# connection.commit()
# connection.close()

In [90]:
# print_table(file_name='example.db', TABLE_NAME='EMPLOYEES')

# Limit

In [91]:
connection = sqlite3.connect('example.db')
cursor = connection.cursor()

sql = '''
    SELECT * from EMPLOYEES LIMIT 3
'''
cursor.execute(sql)

for row in cursor:
    print(row)

connection.commit()
connection.close()

(2, 'ZENQ', 'QPCKIT', 18, 'M', 47627.0, None)
(3, 'CGIENHS', 'IJBEHYICU', 18, 'M', 80972.0, None)
(4, 'ZINTRU', 'FQWPHZLPRO', 18, 'M', 60630.0, None)

In [92]:
print_table('example.db', 'EMPLOYEES')

(2, 'ZENQ', 'QPCKIT', 18, 'M', 47627.0, None)
(3, 'CGIENHS', 'IJBEHYICU', 18, 'M', 80972.0, None)
(4, 'ZINTRU', 'FQWPHZLPRO', 18, 'M', 60630.0, None)
(5, 'GDWEGFU', 'CRLQXY', 18, 'M', 52775.0, None)
(6, 'NHAPAKOA', 'UPKFGVWGC', 18, 'M', 41829.0, None)
(7, 'XMKOKAAO', 'DFXDVH', 18, 'M', 30156.0, None)
(9, 'GIBE', 'KFCVR', 18, 'M', 32781.0, None)
(10, 'GAPGKJPPZP', 'CBPYIR', 18, 'M', 39760.0, None)
(11, 'MKCPS', 'QDEGVGWY', 18, 'M', 64173.0, None)
(12, 'BRPZHBMGI', 'ZWUQDITODS', 18, 'M', 35501.0, None)
(13, 'ZPURB', 'RYNXPNEWV', 18, 'M', 41897.0, None)
(14, 'KFCURYB', 'YMPARHN', 18, 'M', 50755.0, None)
(19, 'IKXLM', 'BSYZ', 18, 'M', 52676.0, None)
(20, 'GTHWK', 'JOXWTTHX', 18, 'M', 90411.0, None)

# Join

In [93]:
connection = sqlite3.connect('example.db')
cursor = connection.cursor()

sql = '''
    SELECT e1.CONTACT AS contact, e2.ID AS id 
    FROM EMPLOYEES AS e1 
    INNER JOIN EMPLOYEES AS e2 ON e1.ID = e2.CONTACT;
'''
cursor.execute(sql)


connection.commit()
connection.close()

In [94]:
print_table('example.db', 'EMPLOYEES')

(2, 'ZENQ', 'QPCKIT', 18, 'M', 47627.0, None)
(3, 'CGIENHS', 'IJBEHYICU', 18, 'M', 80972.0, None)
(4, 'ZINTRU', 'FQWPHZLPRO', 18, 'M', 60630.0, None)
(5, 'GDWEGFU', 'CRLQXY', 18, 'M', 52775.0, None)
(6, 'NHAPAKOA', 'UPKFGVWGC', 18, 'M', 41829.0, None)
(7, 'XMKOKAAO', 'DFXDVH', 18, 'M', 30156.0, None)
(9, 'GIBE', 'KFCVR', 18, 'M', 32781.0, None)
(10, 'GAPGKJPPZP', 'CBPYIR', 18, 'M', 39760.0, None)
(11, 'MKCPS', 'QDEGVGWY', 18, 'M', 64173.0, None)
(12, 'BRPZHBMGI', 'ZWUQDITODS', 18, 'M', 35501.0, None)
(13, 'ZPURB', 'RYNXPNEWV', 18, 'M', 41897.0, None)
(14, 'KFCURYB', 'YMPARHN', 18, 'M', 50755.0, None)
(19, 'IKXLM', 'BSYZ', 18, 'M', 52676.0, None)
(20, 'GTHWK', 'JOXWTTHX', 18, 'M', 90411.0, None)